
  svg.vector path.black {
    fill: black;
  }
  svg.vector path.white  {
    fill: white;
  }
  .waves {
    position: relative;
    max-height: 80px;
    background-color: transparent;
    color: inherit;
  
    z-index: 40;
  }